@media (max-width: 915px) {
    #aboutMe {
        height: 1000px;
    }
    
    #allAboutMe {
        flex-direction: column;
        height: 100%
    }

    #aboutMe img {
        margin-right: 0px;
    }

    #allAboutMe #textAboutMe {
        margin-top: 2rem;
        margin-left: 0px;
    }
}

@media (max-width: 883px) {
    #skillset > div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 740px) {
    #skillset > div {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #learning > div {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 528px) {
    #skillset > div {
        grid-template-columns: 1fr 1fr;
    }

    #learning > div {
        grid-template-columns: 1fr 1fr;
    }
}